.title {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
}

.menu-block {
    display: flex;
    justify-content: center;
    width:20%;
}

.menu-block a {
    color: black;
}

.item-list-block {
    width: 100%;
}

.search-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.search-block div:not(:nth-child(3)) {
    margin-right: 20px;
}

.btn-block {
    align-items: right;
}

/* th, td {
    text-align: center;
} */

tr :last-child {
    width:50px;
    align-items: right;
}

.modal-category-block {
    display: flex;
    justify-content: space-between;
}