<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>장바구니</title>
<link rel='stylesheet' th:href='@{/css/woocommerce-layout.css}' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/woocommerce-smallscreen.css}' type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' th:href='@{/css/woocommerce.css}' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/font-awesome.min.css}' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/style.css}' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/easy-responsive-shortcodes.css}' type='text/css' media='all'/>
</head>
<body>
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a th:href="@{'/'}" rel="home">CosmoLab</a></h1>
			<a th:if="${session.userInfo == null}" th:href="@{'/joinForm'}">Join</a> <a th:if="${session.userInfo == null}" th:href="@{'/loginPage'}" >Login</a>
			<a th:if="${session.userInfo != null}" th:href="@{'/myPage'}" th:text="${session.userID}"></a> <a th:if="${session.userInfo != null}" th:href="@{'/logout'}">Logout</a>
			<a th:href="@{'/cart'}">Cart</a>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="shop.html">Shop</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="elements.html">Elements</a></li>
				<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="portfolio-item.html">Portfolio Item</a></li>
					<li><a href="blog-single.html">Blog Article</a></li>
					<li><a href="shop-single.html">Shop Item</a></li>
					<li><a href="portfolio-category.html">Portfolio Category</a></li>
				</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main" role="main">
				<article id="post-37" class="post-37 page type-page status-publish hentry">
				<header class="entry-header">
				<h1 class="entry-title">장바구니</h1>
				</header>
				<!-- .entry-header -->
				<div class="entry-content">
					<p>
						장바구니에는 최근에 담은 50개의 상품만 표시됩니다.
					</p>
					<p>
						[테스트] 로그인 된 사용자 >> <a th:if="${session.userInfo != null}" th:href="@{'/myPage'}" th:text="${session.userID}"></a>
					</p>
					<hr>
					<!-- 항목 설명 -->
					<div class="wpcmsdev-columns">
						<div class="column column-width-one-fifths">
							<!--<p>
								선택
							</p>-->
							<p>
								<input type="checkbox" id="allCheck" name="allCheck"/>
							</p>
						</div>
						<div class="column column-width-one-fourth">
							<p>
								이미지
							</p>
						</div>
						<div class="column column-width-one-fifths">
							<p>
								상품명
							</p>
						</div>
						<div class="column column-width-one-fifths">
							<p>
								가격
							</p>
						</div>
						<div class="column column-width-one-fourth">
							<p>
								수량
							</p>
						</div>
						<div class="column column-width-one-fifths">
							<p>
								합계
							</p>
						</div>
						<!--<div class="column column-width-one-fifths">
							<p>
								삭제
							</p>
						</div>-->
					</div>
					<hr>
					<!-- 반복 시작 -->
					<div th:if="${cartSize != 0}">
						<div class="wpcmsdev-columns" th:each="cart : ${cart}">
							<div class="column column-width-one-fifths">
								<p>
									<input type="checkbox" name="rowCheck" th:value="${cart.product_id}" />
								</p>
							</div>
							<div class="column column-width-one-fourth">
								<img th:src="@{/images/} + ${cart.image}" />
							</div>
							<div class="column column-width-one-fifths">
								<p th:text="${cart.product_name}">
									상품명
								</p>
							</div>
							<div class="column column-width-one-fifths">
								<p th:text="${cart.price2}">
									가격
								</p>
							</div>
							<div class="column column-width-one-fourth">
								<p th:text="${cart.quantity}">
									수량
								</p>
							</div>
							<div class="column column-width-one-fifths">
								<p>
									합계
								</p>
							</div>
							<!--<div class="column column-width-one-fifths">
								<p>
									<a class="wpcmsdev-button" th:href="@{'/deleteProduct'}"><span>삭제</span></a>
								</p>
							</div>-->

							<!-- ↑ 반복 종료 -->
						</div>
						<hr>
						<p>
							<!--<button class="wpcmsdev-button">삭제~~</button>-->
							<input type="button" value="선택삭제" onclick="deleteValue();">
							<!--<a class="wpcmsdev-button" href="#"><span>선택삭제</span></a>-->
						</p>
						<hr>
						<p>
							상품 금액 합계
						</p>
						<hr>
						<p>
							배송비
						</p>
						<hr>
						<strong>
							총 금액 합계
						</strong>
						<hr>
						<p>
							<a class="wpcmsdev-button" th:href="@{'/'}"><span>계속 쇼핑하기</span></a> <a class="wpcmsdev-button" href="#"><span>구매하기</span></a>
						</p>
					</div>
					<div th:if="${cartSize == 0}">
						<p>장바구니에 담긴 상품이 없습니다.</p>
						<hr>
						<p>
							<a class="wpcmsdev-button" th:href="@{'/'}"><span>장바구니 채우러 가기</span></a>
						</p>
					</div>
				</div>
				<!-- .entry-content -->
				</article>
				<div class="clearfix">
				</div>
				<nav class="pagination"></nav>
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;"><a th:href="@{'/'}">CosmoLab</a></h1>
			Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>

		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script th:src='@{/js/jquery.js}'></script>
<script th:src='@{/js/plugins.js}'></script>
<script th:src='@{/js/scripts.js}'></script>
<script th:src='@{/js/accordion.js}'></script>
<script th:src='@{/js/tabs.js}'></script>
<script th:src='@{/js/toggle.js}'></script>
<script th:src='@{/js/masonry.pkgd.min.js}'></script>
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script th:src='@{/js/delete.js}'></script>

</body>
</html>