<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Moschino | Minimalist Free HTML Portfolio by WowThemes.net</title>
<link rel='stylesheet' th:href="@{/css/woocommerce-layout.css}" type='text/css' media='all'/>
<link rel='stylesheet' th:href="@{/css/woocommerce-smallscreen.css}" type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' th:href="@{/css/woocommerce.css}" type='text/css' media='all'/>
<link rel='stylesheet' th:href="@{/css/font-awesome.min.css}" type='text/css' media='all'/>
<link rel='stylesheet' th:href="@{/css/style.css}" type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' th:href="@{/css/easy-responsive-shortcodes.css}" type='text/css' media='all'/>
</head>


<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="index.html" rel="home">Moschino</a></h1>
			<h2 class="site-description">Minimalist Portfolio HTML Template</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="lipList.html">Shop</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="elements.html"></a></li>
				<li><a href="#">카테고리</a>
				<ul class="sub-menu">
					<li><a href="portfolio-item.html">Skin</a></li>
					<li><a href="blog-single.html">Base</a></li>
					<li><a th:href="@{/lip}">Lip</a></li>
					<li><a href="portfolio-category.html">Eye</a></li>
				</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main" role="main">
				<p class="woocommerce-result-count">
					 Showing 1–8 of 12 results
				</p>
				<form class="woocommerce-ordering" method="get">
					<select name="orderby" class="orderby">
						<option value="menu_order" selected="selected">메뉴</option>
						<option value="popularity">인기순</option>
						<option value="rating">리뷰순</option>
						<option value="date">최신순</option>
						<option value="price">금액 낮은순</option>
						<option value="price-desc">금액 높은순</option>
					</select>
				</form>
				<ul class="products">
<!--			    <tr th:each="item : ${itemList}">-->
					<li class="product" th:each="item : ${itemList}" style="width:200px; height:280px;">
					<a th:href="@{'/lip/detail/' + ${item.product_id}}">
						<img th:src="@{'/images/' + ${item.image}}">
					<h3 th:text="${item.product_name}"></h3>
					<span class="price"><span class="amount" th:text="${item.price2}"></span></span>
					</a><a href="#" class="button">Add to cart</a>
					</li>
<!--					</tr>-->
				</ul>
				<!--게시판 하단의 페이징 버튼 -->
<!--					<ul>-->
<!--						<li th:each="page : ${numbers.sequence(startPage,endPage)}">-->
<!--							<a th:if="${page != nowPage}" th:href="@{/board/list(page=${page - 1})}" th:text="${page}"></a>-->
<!--							<strong th:if="${page == nowPage}" th:text="${page}" style="color: #955BA5"></strong>-->
<!--						</li>-->
<!--					</ul>-->
<!--				<nav class="woocommerce-pagination" th:each="page : ${numbers.sequence(startPage,endPage)}">-->
<!--				<ul class="page-numbers">-->
<!--					<li><a class="next page-numbers">←</a></li>-->
<!--					<li><span class="page-numbers current">1</span></li>-->
<!--					<li><a class="page-numbers" href="#">2</a></li>-->
<!--					<li><a class="page-numbers" href="#">3</a></li>-->
<!--					<li><a class="page-numbers" href="#">4</a></li>-->
<!--					<li><a class="page-numbers" href="#">5</a></li>-->
<!--					<li><a class="next page-numbers">→</a></li>-->
<!--				</ul>-->
<!--				</nav>-->
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Moschino</h1>
			Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>

		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script th:src="@{/js/jquery.js}" type="text/javascript"></script>
<script th:src="@{/js/plugins.js}" type="text/javascript"></script>
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<script th:src="@{/js/masonry.pkgd.min.js}" type="text/javascript"></script>
</body>
</html>