<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>마이페이지</title>
<link rel='stylesheet' th:href='@{/css/woocommerce-layout.css}' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/woocommerce-smallscreen.css}' type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' th:href='@{/css/woocommerce.css}' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/font-awesome.min.css}' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/style.css}' type='text/css' media='all'/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' th:href='@{/css/easy-responsive-shortcodes.css}' type='text/css' media='all'/>
</head>
<body class="single single-post">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a th:href="@{'/'}" rel="home">CosmoLab</a></h1>
			<a th:if="${session.userInfo == null}" th:href="@{'/joinForm'}">Join</a> <a th:if="${session.userInfo == null}" th:href="@{'/loginPage'}">Login</a>
			<a th:if="${session.userInfo != null}" th:href="@{'/myPage'}" th:text="${session.userID}"></a> <a th:if="${session.userInfo != null}" th:href="@{'/logout'}">Logout</a>
			<a th:href="@{'/cart'}">Cart</a>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="shop.html">Shop</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="elements.html">Elements</a></li>
				<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="portfolio-item.html">Portfolio Item</a></li>
					<li><a href="blog-single.html">Blog Article</a></li>
					<li><a href="shop-single.html">Shop Item</a></li>
					<li><a href="portfolio-category.html">Portfolio Category</a></li>
				</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds">
				<main id="main" class="site-main" role="main">
				<article>
				<header class="entry-header">
				<h1 class="entry-title">문의 내역</h1>
				</header>
				<!-- .entry-header -->
				<div class="entry-content">
					<div class="wpcmsdev-accordion">
						<div th:if="${size != 0}">
							<div class="accordion-item" th:each="list : ${list}">
								<h3 class="accordion-item-title"><a href="#accordion-item-what-is-lore-ipsum"><p th:text="${list.subject}"></p></a></h3>
								<div id="accordion-item-what-is-lore-ipsum" class="accordion-item-content">
									<p th:text="${list.write_date}"></p>
									<p th:text="${list.content}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .entry-content -->
				<footer class="entry-footer">

				</footer>
				<!-- .entry-footer -->
				</article>
				<!-- #post-## -->


				<!-- #comments -->
				</main>
				<!-- #main -->
			</div>
			<div id="secondary" class="column third">
				<div id="sidebar-1" class="widget-area" role="complementary">
					<aside id="recent-posts-1" class="widget widget_recent_entries">
						<h4 class="widget-title">주문 관리</h4>
						<ul>
							<li>
								<a th:href="@{'/myPage'}">주문 목록/배송 조회</a>
							</li>
						</ul>
					</aside>
					<aside id="recent-posts-2" class="widget widget_recent_entries">
						<h4 class="widget-title">활동 관리</h4>
						<ul>
							<li>
								<a th:href="@{'/qna'}">문의하기</a>
							</li>
							<li>
								<strong><a th:href="@{'/qnaList'}">문의 내역 확인</a></strong>
							</li>
						</ul>
					</aside>
					<aside id="recent-posts-3" class="widget widget_recent_entries">
					<h4 class="widget-title">회원 정보 관리</h4>
					<ul>
						<li>
						<a th:href="@{'/deleteForm'}">회원 탈퇴</a>
						</li>
					</ul>
					</aside>
				</div>
				<!-- .widget-area -->
			</div>
			<!-- #secondary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;"><a th:href="@{'/'}">CosmoLab</a></h1>
		Shared by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">BootstrapThemes</a>

		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script th:src='@{/js/jquery.js}'></script>
<script th:src='@{/js/plugins.js}'></script>
<script th:src='@{/js/scripts.js}'></script>
<script th:src='@{/js/masonry.pkgd.min.js}'></script>
</body>
</html>